.mainCosmetics {
  max-width: 100%;
  max-height: 92vh;
  background-color: #b56576;
  border: black 1px solid;
  overflow: scroll;
  display: flex;
}

.mainCosmetics::-webkit-scrollbar {
  display: none;
}
